<body class="">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
       </div>
    <app-navi></app-navi>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="position-absolute w-40 top-0 start-0 h-100 d-md-block d-none">
                <div class="oblique-image position-absolute d-flex fixed-top ms-auto h-100 z-index-0 bg-cover me-n8" style="background-image:url('../assets/img/image-sign-up.jpg')">
                  <div class="my-auto text-start max-width-350 ms-7">
                    <h1 class="mt-3 text-white font-weight-bolder">ÇASGEM <br> </h1>
                    <p class="text-white text-lg mt-4 mb-4">Kurslarımızdan yararlanmak için lütfen kayıt olunuz</p>
                    <!-- <div class="d-flex align-items-center">
                      <div class="avatar-group d-flex">
                        <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-original-title="Jessica Rowland">
                          <img alt="Image placeholder" src="../assets/img/team-3.jpg" class="">
                        </a>
                        <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                          <img alt="Image placeholder" src="../assets/img/team-4.jpg" class="rounded-circle">
                        </a>
                        <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-original-title="Michael Lewis">
                          <img alt="Image placeholder" src="../assets/img/marie.jpg" class="rounded-circle">
                        </a>
                        <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip" data-original-title="Audrey Love">
                          <img alt="Image placeholder" src="../assets/img/team-1.jpg" class="rounded-circle">
                        </a>
                      </div>
                      <p class="font-weight-bold text-white text-sm mb-0 ms-2">Join 2.5M+ users</p>
                    </div> -->
                  </div>
                  <div class="text-start position-absolute fixed-bottom ms-7">
                    <h6 class="text-white text-sm mb-5">Copyright © 2022 SERM</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-black text-dark display-6">KAYIT OL</h3>
                  <!-- <p class="mb-0">Nice to meet you! Please enter your details.</p> -->
                </div>
                <div class="card-body">
                  <form [formGroup]="createApplicantForm">
                    <label>İsim</label>
                    <div class="form-group">
                      <input type="text"
                      formControlName="firstName" class="form-control"
                      placeholder="İsminizi Giriniz"/>

                  </div> 
                  <label>Soyisim</label>
                  <div class="form-group">
                      <input type="text"
                      formControlName="lastName" class="form-control"
                      placeholder="Soyisminizi Giriniz"/>

                  </div>
                    <label>Email </label>
                    <div class="mb-3">
                      <input type="email" formControlName="email"  class="form-control" placeholder="Email giriniz" aria-label="Email" aria-describedby="email-addon">
                    </div>
                    <label>Şifre</label>
                    <div class="mb-3">
                      <input type="password" formControlName="password" class="form-control" placeholder="Şifre oluşturunuz" aria-label="Password" aria-describedby="password-addon">
                    </div>
                    <label>TC Kimlik Numarası</label>
                    <div class="form-group">
                      <input type="number"
                      formControlName="nationalIdentity" class="form-control"
                      placeholder="T.C Kimlik Numaranızı Giriniz."/>

                  </div>
                  <label>Doğum Tarihi</label>
                  <div class="form-group">
                      <input type="text"
                      formControlName="dateOfBirth" class="form-control"
                      placeholder="Doğum Tarinizi giriniz."/>

                  </div>
                  <label>Hakkında</label>
                  <div class="form-group">
                      <textarea type="text"
                      formControlName="about" class="form-control"
                      placeholder="Hakkınızda kısmını doldurunuz."></textarea>

                  </div>
                    <div class="text-center">
                      <button type="button" class="btn btn-dark w-100 mt-4 mb-3" (click)="addApplicant()">KAYIT</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-xs mx-auto">
                    Mevcut hesabınız varsa giriş yapınız
                    <a class="text-dark font-weight-bold" routerLink="/login">Giriş Yap</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--   Core JS Files   -->
  <!-- <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script> -->
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Corporate UI Dashboard: parallax effects, scripts for the example pages etc -->
  <!-- <script src="../assets/js/corporate-ui-dashboard.min.js?v=1.0.0"></script> -->
</body>