.user-img{
    float: right;
    margin-right: 14px;
    display: flex;
}   

.user-img img{
    height: 38px;
    border: 2px solid lightgray;
    border-radius: 30px;
}

.user-img .name{
    height: 38px;
    margin: 7px 5px 0 0;
}    

.user-img .name span{
    color:whitesmoke;
}