<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="../assets/img/apple-icon.png"
/>
<link rel="icon" type="image/png" href="../assets/img/favicon.png" />

<body class="">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <app-navi></app-navi>
      </div>
    </div>
  </div>
  <main class="main-content mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-black text-dark display-6">
                    GİRİŞ YAP
                  </h3>
                  <!-- <p class="mb-0">Merhaba! Bootcamp detayları için lütfen giriş yapınız</p> -->
                </div>
                <div class="card-body">
                  <form [formGroup]="loginAddForm">
                    <!-- <label>Name</label>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Enter your name" aria-label="Name" aria-describedby="name-addon">
                </div> -->
                    <label>Email</label>
                    <div class="mb-3">
                      <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        formControlName="email"
                        placeholder="Email giriniz"
                        aria-label="Email"
                        aria-describedby="email-addon"
                      />
                    </div>
                    <label>Şifre</label>
                    <div class="mb-3">
                      <input
                        type="password"
                        class="form-control"
                        formControlName="password"
                        id="floatingPassword"
                        placeholder="Şifre Giriniz"
                        aria-label="Password"
                        aria-describedby="password-addon"
                      />
                    </div>
                    <!-- <div class="d-flex align-items-center">
                  <div class="form-check form-check-info text-left mb-0">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="font-weight-normal text-dark mb-0" for="flexCheckDefault">
                      Remember for 14 days
                    </label>
                  </div>
                </div> -->
                    <div class="text-center">
                      <button
                        (click)="login()"
                        type="submit"
                        class="btn btn-dark w-100 mt-4 mb-3"
                      >
                        GİRİŞ
                      </button>
                      <!-- <a
                        href="javascript:;"
                        class="text-xs font-weight-bold ms-auto"
                        >Şifremi unuttum</a
                      > -->
                      <!-- <button type="button" class="btn btn-white btn-icon w-100 mb-3">
                    <span class="btn-inner--icon me-1">
                      <img class="w-5" src="../assets/img/logos/google-logo.svg" alt="google-logo" />
                    </span>
                    <span class="btn-inner--text">Sign in with Google</span>
                  </button> -->
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-xs mx-auto">
                    Hesabınız yok mu?
                    <a href="javascript:;" class="text-dark font-weight-bold" routerLink="/register"
                      >Kayıt ol</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="position-absolute w-40 top-0 end-0 h-100 d-md-block d-none"
              >
                <div
                  class="oblique-image position-absolute fixed-top ms-auto h-100 z-index-0 bg-cover ms-n8"
                  style="
                    background-image: url('../assets/img/image-sign-in.jpg');
                  "
                >
                  <div class="text-center position-absolute fixed-bottom m-4">
                   
                    <h6 class="text-dark text-sm mt-5">
                      Copyright © 2022 SERM
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
